﻿body {
    margin-left: 30px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: black;
    margin: 0;
    top:0
}

a {
    color: #00B7FF;
}

.navbar {
    margin-bottom: 5px;
    border: hidden;
    min-height: inherit
}

.navbar-text {
    text-align: center;
    color: white
}

.container {
    margin: 0px;
    width: 100%;
    height: 710px
}

.tab {
   /* Set a width if you like */
}

    .tab a {
        background-color: black; /* Grey background color */
        color: white; /* Black text color */
        display: block; /* Make the links appear below each other */
        padding: 12px; /* Add some padding */
        text-decoration: none; /* Remove underline from links */
        
    }

        .tab a:hover {
            background-color: #66cdAA; /* Dark grey background on mouse-over */
        }

        .tab a.active {
            background-color: #66cdAA; /* Add a green color to the "active/current" link */
            color: #66cdAA;
        }

.row {
    width: 100%
}

.col-md-1 {
    height: 720px
}

.chart {
    box-shadow: 4px 4px;
    background-color: black;
    border: solid;
    margin-bottom: 10px
}

.img-circle {
    box-shadow: 4px 4px
}

.img-title {
    color: white
}

.img {
    height: 16%
}

